{% extends "layout.html" %}
{% block content %}
     
  <!-- Carousel wrapper -->
  <div id="carouselExampleControls" class="carousel slide text-center carousel-dark" 
       data-ride="carousel"> 
    <div class="carousel-inner"> 
      <div class="carousel-item active"> 
        <div class="row d-flex justify-content-center"> 
          <div class="col-lg-8"> 
            <h5 class="mb-3">Truong Gia Vy</h5> 
              
<p>Data Analyst - Internship</p> 
  
 
  
          </div> 
        </div> 
        <ul class="list-unstyled d-flex justify-content-center text-warning mb-0"> 
          <li><i class="fas fa-star fa-sm"></i></li> 
          <li><i class="fas fa-star fa-sm"></i></li> 
          <li><i class="fas fa-star fa-sm"></i></li> 
          <li><i class="fas fa-star fa-sm"></i></li> 
          <li><i class="far fa-star fa-sm"></i></li> 
        </ul> 
      </div> 
  
    </div> 
      
  </div> 
  <!-- Carousel wrapper -->
  
  
  <div class="section" id="about"> 
    <div class="container"> 
      <div class="card aos-init aos-animate" 
           data-aos="fade-up" data-aos-offset="10"> 
        <div class="row"> 
          <div class="col-lg-6 col-md-12"> 
            <div class="card-body"> 
              <div class="h4 mt-0 title">About</div> 
                
<p>I love to inspire as well as learn new knowledge and skills 
in the work environment and will do my best to add value to the company 
and address job requirements. 
            </div> 
          </div> 
  
          <div class="col-lg-6 col-md-12"> 
            <div class="card-body"> 
              <div class="h4 mt-0 title">Basic Information</div> 
              <div class="row"> 
                <div class="col-sm-4"> 
                  <strong class="text-uppercase"> 
                    Phone 
                  </strong></div> 
                <div class="col-sm-8">0384154829</div> 
              </div> 
              <div class="row mt-3"> 
                <div class="col-sm-4"> 
                  <strong class="text-uppercase"> 
                    Email 
                  </strong></div> 
                <div class="col-sm-8">takyrilyich@gmail.com</div> 
              </div> 
              <div class="row mt-3"> 
                <div class="col-sm-4"> 
                  <strong class="text-uppercase"> 
                    GitHub 
                  </strong></div> 
                <div class="col-sm-8">https://github.com/Takyr </div> 
              </div> 
              <div class="row mt-3"> 
                <div class="col-sm-4"> 
                  <strong class="text-uppercase"> 
                    LinkedIn 
                  </strong></div> 
                <div class="col-sm-8"> 
                  https://www.linkedin.com/in/truong-gia-vy-79848a2a1/ 
                </div> 
              </div> 
              
            </div> 
          </div> 
        </div> 
      </div> 
    </div> 
  </div> 
  
  <div class="section" id="skill"> 
    <div class="container my-2"> 
      <div class="h4 text-center mb-4 title" id="educational-info"> 
        Education 
      </div> 
      <div class="card" data-aos="fade-up" data-aos-anchor-placement="top-bottom"> 
        <div class="card-body"> 
          <div class="h5">HCMC University of Technology and Education</div> 
          <p class="category">Bachelor, Majors: Information Technology</p>
		   
  
            
<p>Relevant Coursework: Machine Learning, Data Visualization and Communication, 
Database Systems and SQL, Image Processing</p> 
  
            
<p> 
            <b>Projects:</b><br> 
          <ul> 
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.  
              Praesentium a veritatis voluptas  
              officiis distinctio molestiae nesciunt in eos nulla quam!</li> 
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing e 
              lit. Facilis, assumenda.</li> 
          </ul> 
          </p> 
  
        </div> 
      </div> 
    </div> 
  </div> 
  
  
  
  
  
  <div class="section" id="skill"> 
    <div class="container my-2"> 
      <div class="h4 text-center mb-4 title" id="educational-info"> 
        Projects 
      </div> 
      <div class="card" data-aos="fade-up" data-aos-anchor-placement="top-bottom"> 
        <div class="card-body"> 
          <div class="h5">Personal Portfolio Website  (Python, Flask, Bootstrap)</div> 
          <p class="category">https://github.com/Takyr</p>
		             <ul> 
            <li>Dedicated website to showcase individual works in the field of graphic design and programming.
</li> 
            <li>Navigation bar to move to different sections of the portfolio.
</li> 
<li>Display multiple images corresponding to a specific section.
</li> 
<li>Contact page contains necessary information such as: full name, email, phone number along with other content related to the user.
</li> 
          </ul>  
  
        </div> 
		
		
		        <div class="card-body"> 
          <div class="h5">Recommender System on Clothing Store Website - Collaboration Project (Python, Streamlit)</div> 
          <p class="category">https://github.com/Takyr</p>
		             <ul> 
            <li>Apply KNN and similarity score models to suggest similar products when users choose a certain item.
</li> 
            <li>Search for products by category and combine search results together to display a list that matches the user's preferences.
</li> 
<li>Login, registration, password resetting, dashboard functions on Streamlit.
</li> 
<li>Implement products payment through Stripe.
</li> 
          </ul>  
  
        </div> 
		
		
		
      </div> 
    </div> 
  </div> 
  
  
  
  
  
 
  <div class="section" id="skill"> 
    <div class="container my-2"> 
      <div class="h4 text-center mb-4 title" id="Prof-skill">Skills</div> 
      <div class="card" data-aos="fade-up" data-aos-anchor-placement="top-bottom"> 
        <div class="card-body"> 
          <b>Python Libraries:</b> pandas, matplotlib, numpy, scikit-learn<br><br> 
          <b>Visualization:</b> Power BI, R, Tableau, JupyterLab<br><br> 
          <b>Others:</b> MySQL, Apache Hadoop, Apache Spark, Flask, Streamlit<br><br> 
          <b>Languages:</b> TOEIC 940 
        </div> 
      </div> 
    </div> 
  </div> 
{% endblock content %}

  
